/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container-fluid {

  background-color: #ebe6e6;
}

.container-a{
  background-color: #fff;
  width:100%;
  height: 40%;
  
  
}

.container-b{
  background-color: #fff;
  width: 100%;
  height: 40%;
  padding-bottom: 80%;
  
}

.mydiv{
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  height: 40%;
}


.mydiv1{
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  
}





table,tr,td,th{
  border:1px solid rgb(236, 171, 171);
  border-collapse: collapse;
}
table{
  margin-left:100px ;
  width:40%;
  height: 40%;
  text-align: center;
  background:rgb(235, 212, 229);
}
td{
  vertical-align: middle;
  
}
tr:hover{
  background-color:#aaaae4;
  color:white;
}


